# OS files
.DS_Store
Thumbs.db
*.suo
*.sln
*.sw?

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/

# Environment variables
.env
.env.local
*.local

# Logs
*.log
logs/

# Python (Local Development)
__pycache__/
*.py[cod]
*$py.class
.venv/
.python-version

# Build / Dependencies
# (Kept as safety in case you add them back later)
node_modules/
dist/
