@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for that premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F6F7FB;
}

::-webkit-scrollbar-thumb {
  background: #CED2DE;
}

::-webkit-scrollbar-thumb:hover {
  background: #2153F6;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
